{% extends "base.html" %}
{% load static %}

{% block title %}
Confirmar redefinição de senha
{% endblock title %}

{% block links %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/confirm-password-reset.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
{% endblock links %}

{% block content %}
<div class="full-screen">
  <div class="container">
    <img class="logo" src="{% static 'img/logo1.png' %}">
    <span class="verification">Verifique seu email!</span>
    <span class="instructions">Enviamos instruções para <span>exemplo@clickcall.org.br</span></span>
    <span class="resend">Caso não tenha recebido, verifique sua lixeira ou solicite reenvio do email.</span>
    <button class="resend-button" type="submit">Reenviar email</button>
    <a href={% url 'users:login' %}>
      <button class="back-button"><img src="{% static 'img/left-arrow.png' %}"></button>
    </a>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
