{% extends "base.html" %}
{% load static %}

{% block title %}
Login  
{% endblock title %}

{% block links %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/login.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
{% endblock links %}

{% block content %}
<div class="full-screen">
  <div class="container">
    <img class="logo" src="{% static 'img/logo1.png' %}">
     
    <form method="post" class="container">
      {% csrf_token %}
      <div class="form-container">
        {{ form.non_field_errors }}

        {{ form.email }}
        {{ form.email.errors }}
        <div class="password">
          {{ form.password }}
          {{ form.password.errors }}
          <button type="button" onclick="showPassword()">
            <img id="eye" class="show" src={% static 'img/eyes-closed.png' %}>
          </button>
        </div>
      </div>
    <button class="login-button" type="submit">Login</button>
    </form>
    <a href={% url 'users:password-reset' %} class="forget-password">Esqueceu sua senha?</a>
    <a href={% url 'users:signup' %}>Cadastre-se</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/show-password.js' %}"></script>
{% endblock scripts %}
