{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Redefinir senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/password-reset.css' %}" />
    <script src="main.js"></script>
    <div class="full-screen">
        <div class="container">
            <img class="logo" src="../../static/img/logo1.png">
            <span>Enviaremos um email com as informações para redefinição de senha</span>
            <div class="input-back">
                <a href="#"><button type="submit"><img src="../../static/img/left-arrow.png"></button></a>
                <input type="email" placeholder="Email">
            </div>
            <button>Redefinir senha</button>
        </div>
    </div>
</head>
<body>
    
</body>
</html>