{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/password-reset.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
{% endblock links %}

{% block title %}
  Redefinir senha
{% endblock title %}

{% block content %}
<div class="full-screen">
  <div class="container">
    <img class="logo" src={% static 'img/logo1.png'%}>
    <span>Enviaremos um email com as informações para redefinição de senha</span>
    <div class="input-back">
      <a href="#"><button type="submit"><img src={% static 'img/left-arrow.png'%}>
        </button></a>
      <input type="email" placeholder="Email">
    </div>
    <button>Redefinir senha</button>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
