{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Cadastrar conta
{% endblock %}

{% block links %}
<link rel="stylesheet" href={% static 'css/logon.css' %}>
{% endblock %}

{% block content %}
<div class="all">
  <div>
    <img class="logo" src={% static 'img/logo1.png' %} />
  </div>

  <form method="post" class="form">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="form-fields">
      <div class="side-1">
        <div class="fields-box">
          {{ form.name.errors }}
          {% render_field form.name class="field" placeholder="Nome"%}
        </div>

        <div class="fields-box">
          {{ form.phone.errors }}
          {% render_field form.phone class="field" placeholder="Telefone"%}
        </div>

        <div class="fields-box">
          {{ form.ramal.errors }}
          {% render_field form.ramal class="field" placeholder="Ramal"%}
        </div>

        <div class="fields-box">
          {{ form.function.errors }}
          {% render_field form.function class="field" placeholder="Função"%}
        </div>

        <div class="fields-box">
          {{ form.sector.errors }}
          {% render_field form.sector class="field" placeholder="Setor"%}
        </div>
      </div>

      <div id="divisor-line"></div>

      <div>
        <div class="side-2">
          <!-- {{ form.avatar }} -->
          <label for="upload-image" 
                 id="image">
            <img src={% static 'img/user.png' %}/>
          </label>
        </div>

        <div class="fields-box">
          {{ form.email.errors }}
          {% render_field form.email class="field" placeholder="E-mail"%}
        </div>

        <div class="fields-box">
          {{ form.password.errors }}
          {% render_field form.password class="field" placeholder="Senha"%}
        </div>

        <div class="fields-box">
          {% render_field form.confirm_password class="field" id="last-field" placeholder="Confirme sua senha"%}
        </div>
      </div>
    </div>
    <button type="submit" id="logon-button">Cadastre-se</button>
  </form>
</div>
{% endblock %}
