{% extends "base.html" %}
{% load static %}

{% block title %}
Cadastrar conta
{% endblock title %}

{% block links %}
<link rel="stylesheet" href={% static 'css/logon.css' %}>
{% endblock %}

{% block content %}
<div class="all">
  <div>
    <img class="logo" src={% static 'img/logo1.png' %} />
  </div>

  <form action="" method="post" class="form">
    <div class="form-fields">
      <div class="side-1">
        <div class="fields-box">
          <input type="text" class="field" name="name" placeholder="Nome completo" required />
        </div>

        <div class="fields-box">
          <input type="tel" class="field" name="cellphone" placeholder="Telefone" required />
        </div>

        <div class="fields-box">
          <input type="tel" class="field" name="ramal" placeholder="Ramal" required />
        </div>

        <div class="fields-box">
          <input type="text" class="field" name="function" placeholder="Função" required />
        </div>

        <div class="fields-box">
          <input type="text" class="field" name="sector" placeholder="Setor" required />
        </div>
      </div>

      <div id="divisor-line"></div>

      <div>
        <div class="side-2">
          <input type="file" id="upload-image" name="image" required >
          <label for="upload-image" id="image"><img src="../../static/img/user.png"/></label>
        </div>

        <div class="fields-box">
          <input type="email" class="field" name="email" placeholder="Email" required >
        </div>

        <div class="fields-box">
          <input type="password" class="field" name="password" placeholder="Senha" required >
        </div>

        <div class="fields-box">
          <input type="password" class="field" id="last-field" name="password" placeholder="Confirme a senha" required >
        </div>
      </div>
    </div>
    <button type="Submit" id="logon-button">Cadastre-se</button>
  </form>
</div>
{% endblock %}
