[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
babel = "==2.6.0"
backcall = "==0.1.0"
decorator = "==4.3.2"
dj-database-url = "==0.5.0"
django-heroku = "==0.3.1"
entrypoints = "==0.3"
"flake8" = "==3.7.5"
gunicorn = "==19.9.0"
ipdb = "==0.11"
ipython = "==7.2.0"
ipython-genutils = "==0.2.0"
jedi = "==0.13.2"
mccabe = "==0.6.1"
parso = "==0.3.3"
pexpect = "==4.6.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==2.0.8"
"psycopg2" = "==2.7.7"
ptyprocess = "==0.6.0"
pycodestyle = "==2.5.0"
pyflakes = "==2.1.0"
pytz = "==2018.9"
six = "==1.12.0"
traitlets = "==4.3.2"
wcwidth = "==0.1.7"
whitenoise = "==4.1.2"
Babel = "==2.6.0"
Django = "==2.1.5"
ipython_genutils = "==0.2.0"
Pillow = "==6.2.0"
prompt_toolkit = "==2.0.8"
Pygments = "==2.3.1"

[requires]
python_version = "3.6"
