{% load staticfiles %}

<div class="container">  
    <div class="title-and-search">
        <div class="title">Agenda</div>
        <div class="search">
            <input class="input-search">
            <button type="submit"></button>
        </div>
    </div>
    <table class="table2">
        <tr>
            <th class="contact">Contato</th>
            <th class="date-hour">Data/Hora</th>
            <th class="last-contact-table">Último Contato</th>
            <th class="value">Valor</th>
            <th class="status">Status</th>
        </tr>
        {% for call in calls %}
            <tr id="call-{{call.pk}}" class="table-row" data-name="{{call.contact.name| title}}" data-company="{{call.contact.company_name| title}}" data-cellphone="{{call.contact.cellphone|title}}" data-email="{{call.contact.email}}" data-value="{{call.value}}" data-pk="{{call.pk}}" data-date="{{call.date_scheduling|date:"d/m/Y" }}" data-tag="{{call.contact.tag.name}}" data-notes="{{call.notes}}">
                <td>{{call.contact.name | title}}</td>
                <td>{{call.date_scheduling |date:"d/m/Y"}} - {{call.date_scheduling |time:"H:i"}}h</td>

                <td class="last-contact-cell">
                    {% if call.call_24_hours %}
                    <button onclick="changeIndicator(this)" name="call" value="call" type="submit" data-pk="{{call.pk}}" class="has-indicator"><i class="icon-call-2"></i></button>
                    {% else %}
                    <button onclick="changeIndicator(this)" name="call" value="call" type="submit" data-pk="{{call.pk}}"><i class="icon-call-2"></i></button>
                    {% endif %}
                    {% if call.paid %}
                    <button onclick="changeIndicator(this)" name="pay" value="pay" type="submit" data-pk="{{call.pk}}" class=" has-indicator"><i class="icon-pay-2"></i></button>
                    {% else %}
                    <button onclick="changeIndicator(this)" name="pay" value="pay" type="submit" data-pk="{{call.pk}}"><i class="icon-pay-2"></i></button>
                    {% endif %}
                    {% if call.email_sended %}
                    <button onclick="changeIndicator(this)" name="email" value="email" type="submit" data-pk="{{call.pk}}" class="has-indicator"><i class="icon-email-2"></i></button>
                    {% else %}
                    <button onclick="changeIndicator(this)" name="email" value="email" type="submit" data-pk="{{call.pk}}"><i class="icon-email-2"></i></button>
                    {% endif %}
                </td>
                <td>R$ {{call.value}}</td>
                <td class="status-busy">{{call.status|lower|title}}</td>
                
            </tr>
        {% endfor %}
            
        </table>
        
        
        
        {% include "call-history-detail.html" %}
</div>
