<div class="history">
    <h1>Histórico de Atividades</h1>
    <button id="today-expand" class="button-expand" onclick="expandHistory('today')">
        Hoje, 22/02/2019
    </button>
    <div id="today" class="expand" style="max-height: 0px;">
        <div class="history-box">
            <div class="history-box__content">
                <div class="history-box__left">
                    <h3>Nome Da Empresa</h3>
                    <p>Nome do Contato</p>
                    <p>contato@exemplo.com</p>
                    <p>(81)XXXX-XXXX</p>
                    <div class="last-contact">
                        <div class="last-contact__header">
                            <div class="last-contact__sign">
                            </div>
                            <p>último contato:</p>
                        </div>
                        <p>21/03/2019 - 18:30h</p>
                    </div>
                </div>
                <div class="history-box__right">
                    <i class="fas fa-phone"></i>
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-envelope"></i>
                    <i class="fas fa-volume-up"></i>
                </div>
            </div>
            <div class="history-box__notes">
                <h4>Anotações:</h4>
                <i class="far fa-edit"></i>
                <p>Aqui segue uma anotação feita por um colaborador a respeito do cliente em questão. Aqui segue uma anotação feita por um colaborador a respeito do cliente em questão.</p>
            </div>
        </div>
        <div class="history-box">
                <div class="history-box__content">
                    <div class="history-box__left">
                        <h3>Nome Da Empresa</h3>
                        <p>Nome do Contato</p>
                        <p>contato@exemplo.com</p>
                        <p>(81)XXXX-XXXX</p>
                        <div class="last-contact">
                            <div class="last-contact__header">
                                <div class="last-contact__sign">
                                </div>
                                <p>último contato:</p>
                            </div>
                            <p>21/03/2019 - 18:30h</p>
                        </div>
                    </div>
                    <div class="history-box__right">
                        <i class="fas fa-phone"></i>
                        <i class="fas fa-dollar-sign"></i>
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-volume-up"></i>
                    </div>
                </div>
                <div class="history-box__notes">
                    <h4>Anotações:</h4>
                    <i class="far fa-edit"></i>
                    <p>Aqui segue uma anotação feita por um colaborador a respeito do cliente em questão. Aqui segue uma anotação feita por um colaborador a respeito do cliente em questão.</p>
                </div>
        </div>
        <div class="history-box">
                <div class="history-box__content">
                    <div class="history-box__left">
                        <h3>Nome Da Empresa</h3>
                        <p>Nome do Contato</p>
                        <p>contato@exemplo.com</p>
                        <p>(81)XXXX-XXXX</p>
                        <div class="last-contact">
                            <div class="last-contact__header">
                                <div class="last-contact__sign">
                                </div>
                                <p>último contato:</p>
                            </div>
                            <p>21/03/2019 - 18:30h</p>
                        </div>
                    </div>
                    <div class="history-box__right">
                        <i class="fas fa-phone"></i>
                        <i class="fas fa-dollar-sign"></i>
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-volume-up"></i>
                    </div>
                </div>
                <div class="history-box__notes">
                    <h4>Anotações:</h4>
                    <i class="far fa-edit"></i>
                    <p>Aqui segue uma anotação feita por um colaborador a respeito do cliente em questão. Aqui segue uma anotação feita por um colaborador a respeito do cliente em questão.</p>
                </div>
            </div>
    </div>
    <button id="today-expand" class="button-expand" onclick="expandHistory('yesterday')">
            Ontem, 21/02/2019
    </button>
    <div id="yesterday" class="expand" style="max-height: 0px;">
        <div class="history-box">
            <div class="history-box__content">
                <div class="history-box__left">
                    <h3>Nome Da Empresa</h3>
                    <p>Nome do Contato</p>
                    <p>contato@exemplo.com</p>
                    <p>(81)XXXX-XXXX</p>
                    <div class="last-contact">
                        <div class="last-contact__header">
                            <div class="last-contact__sign">
                            </div>
                            <p>último contato:</p>
                        </div>
                        <p>21/03/2019 - 18:30h</p>
                    </div>
                </div>
                <div class="history-box__right">
                    <i class="fas fa-phone"></i>
                    <i class="fas fa-dollar-sign"></i>
                    <i class="fas fa-envelope"></i>
                    <i class="fas fa-volume-up"></i>
                </div>
            </div>
            <div class="history-box__notes">
                <h4>Anotações:</h4>
                <i class="far fa-edit"></i>
                <p>Aqui segue uma anotação feita por um colaborador a respeito do cliente em questão. Aqui segue uma anotação feita por um colaborador a respeito do cliente em questão.</p>
            </div>
        </div>    
    </div>    
</div>