.callbar {
    display: flex;
    flex-direction: row;
    height: 10vh;
    box-shadow: 0 1px 5px 0 rgba(24, 24, 24, 0.2), 0 1px 5px 0 rgba(24, 24, 24, 0.2);
    align-items: center;
    margin-left: 15rem;
}

.call-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6vw; 
    margin-right: 51vw;
    width: 25vw;
}

.call-icon {
    width: 3rem;
    margin-right: 2vw;
}

.pNumber {
    height: 4vh;
    width: 25vh;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.call-btn {
    margin-left: 2vw;
    height: 4.5vh;
    width: 4.5vw;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
	border: none;
	cursor: pointer;
    outline: inherit;
    color: #ffffff;
    font-size: 1rem;
    background-color: #27B2FF;
    border-radius: 20px;
    transition: 0.2s;
}

.call-btn:hover {
    background-color: rgb(103, 202, 255);
}

.logout-btn {
    justify-content: end;
}

.logout-btn > img {
    width: 2.5rem;
}