body{
    margin: 0;
    display:flex;
    justify-content: center;
}
.container-detail{
    display: flex;
    justify-content: space-around;
    /* width: 95.6%; */
    background-color: #EFEFEF;
    padding: 10px 10px 10px 13px;
    font-family: 'Work Sans', sans-serif;
    height: 197px;
    flex-wrap: wrap;
    margin-left: 10px;
}
.information{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.company-name{
    color: #4D4D4D;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 25px;
}
.basic-information{
    color: #4D4D4D;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 5px;
}
.calendar{
    margin-top: 20px;
    /* margin-bottom: 6px; */
}
.calendar img{
    width: 15px;
    height: 15px;
    color: #4D4D4D;
    font-size: 0.85rem;
    font-weight: 400;
}
.calendar span{
    font-size: 0.9rem;
    font-weight: 400;
}
.money{
    margin-top: 5px;
}
.money img{
    width: 15px;
    height: 15px;
    color: #4D4D4D;
    font-size: 0.85rem;
    font-weight: 400;
}
.money span{
    font-size: 0.9rem;
    font-weight: 400;
}
.information-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.information-buttons img{
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-top: 15px;
}
.notes{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    outline: none;
}
.notes span{
    font-size: 0.85rem;
    padding-left: 2px;
    margin-bottom: 8px;
}
textarea{
    resize: vertical;
    min-height: 145px;
    max-height: 200px;
    min-width: 250px;
    border: solid 1px #DEDEDE;
    border-radius: 10px;
}
.tags{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    margin-top: 15px;
    margin-bottom: 8px;
    width: 165px;
}
.tags span{
    font-size: 0.85rem;
    margin-bottom: 8px;
}
.tag-row{
    display: flex;
    justify-content: space-between;
}
.tag-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEDEDE;
    border-radius: 20px;
    color: #4D4D4D;
    width: 70px;
    height: 20px;
    margin-top: 8px;
}
