.title-and-search{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 20px;
    margin-top: 35px;
}
.title{
    font-size: 1.7rem;
    font-family: 'Work Sans', sans-serif;
}
.search{
    height: 31px;
    display: flex;
    float: right;
    align-items: center;
}
.search input{
    background: transparent;
    text-indent: 5px;
    background-size: 7px 10px;
    height: 24px;
    outline: none;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    border: none;
    border-bottom: solid #AAAAAA 1px;
}
.search button{
    float: right;
    display: flex;
    padding-right: 30px;
    background-color: transparent;
    background: url(../img/search.png) no-repeat right center;
    background-size: 23px 23px;
    height: 26px;
    border: none;
    cursor: pointer;
    outline: none;
}
.container{
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
table{
    width: 65%;
    border: solid 1px #DEDEDE;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    border-collapse: collapse;
    text-align: center;
}
table td{
    border: solid 1px #DEDEDE;
    text-align: center;
}
table tr{
    border: solid 1px #DEDEDE;
    height: 40px;
}
table th{
    border: solid 1px #DEDEDE;
    background-color: #EFEFEF;
    color: #4D4D4D;
    height: 55px;
    font-weight: 500;
    font-size: 1.0rem;
}
.contact{
    width: 20%;
}
.date-hour{
    width: 20%;
}
.last-contact{
    width: 20%;
}
.status{
    width: 20%;
}
/* .last-contact-cell{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border: 0;
    padding-top: 7px;
} */
.value{
    width: 15%;
}
.status-busy{
    width: 10%;
    color: #F03B3B;
}
.status-pendent{
    width: 10%;
    color: #F0C25B;
}
.status-in-progress{
    width: 10%;
    color: #4ABE57;
}

tr:nth-child(odd){
    background-color: #F4F4F4;
}
tr:nth-child(even){
    background-color: #ffffff;
    
}
.call-24-hours{
    cursor: pointer;
    height: 22px;
    padding-top: 3px;
}
.payment{
    cursor: pointer;
    height: 18px;
    padding-top: 3px;
}
.email{
    cursor: pointer;
    height: 17px;
    padding-top: 4px;
}
.call-24-hours-blue{
    cursor: pointer;
    height: 22px;
    color: #27B2FF;
    padding-top: 3px;
}
.last-contact-cell button{
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.has-indicator{
    color: #27B2FF;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}
.last-contact-cell i{
    font-size: 13px;
}