@charset "UTF-8";

.new-contact-title{
    text-align: center;
    font-size: 1.9rem;
    font-weight: 500;
    color: #4D4D4D;
}

.new-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 24%;
    height: auto;
    background: #FFFFFF;
    border-radius: 1.3rem;
    margin: 2rem;
    padding: 1rem 2.5rem 2rem 2.5rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 800px){
    .new-contact{
        width: 80%;
    }
}

.new-contact-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.new-contact-input input{
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    height: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
.new-contact-input label{
    font-weight: 300;
    padding: 0.5rem;
}

.new-contact-number{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: 1px solid rgba(39, 178, 255, 1);
    color:  rgba(39, 178, 255, 1);
    font-size: 0.7em;
    font-weight: 600;
}

.new-contact-phones{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#new-contact-cellphone{
    width: 90%;
}

.new-contact-phone:second-child{
    width: 90%;
    margin-left: auto;
}

.new-contact-input input{
    width: 100%;
}

.new-contact-submit{
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
    background: #27B2FF; 
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: auto;
    margin-top: 1.5rem;
    color: white;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
}

.new-contact-submit:hover{
    cursor: pointer;
    background: rgb(33, 147, 209);
    
}