.full-screen{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    
}
.logo{
    width: 165px;
    margin-bottom: 25px;

}
.container span{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    color: #4D4D4D;
    width: 280px;
    text-align: center;
    margin-bottom: 25px;
    line-height: 20px;
}
.input-back{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
}
.container button{
    background-color: #DEDEDE;
    border-radius: 8px;
    color:#4D4D4D;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    width: 145px;
    height: 45px;
    outline: none;
    border: none;
    cursor: pointer;
}
.input-back button{
    width: 50px;
    height: 45px;
    background-color: #DEDEDE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    margin-right: 15px;
    padding: 3px 15px;
    cursor: pointer;

}
.input-back img{
    height: 20px;
}
.input-back input{
    border: solid 1px #DEDEDE;
    border-radius: 8px;
    width: 263px;
    height: 38px;
    padding: 3px 15px;
    margin-right: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    outline: none;
}
@media(max-width:540px){
    .input-back button{
        margin-bottom: 20px;
    }
    .input-back input{
        margin-right: 0px;
    }
    .input-back{
        flex-direction: column;
    }
}