/*---------- General ----------*/

.container{
  margin: 210px 30px 0px 342px;
  font-family: 'Work Sans', sans-serif;
}
.gray-font{
  color: #4d4d4d;
}
#centralize-title-select{
  display: flex;
  flex-direction: row;
}
#title{
  font-size: 34px;
}
#sub-title{
  font-size: 28px;
  margin-top: 34px;
  margin-bottom: 65px;
}
#filter-colab{
  margin-top: 10px;
  margin-left: 460px;
}

/*---------- Colors ----------*/

#received{
  color: #F8BD1D;
}
#answered{
  color: #4ABE57;
}
#not-answered{
  color: #FF9F2F;
}
#abandoned{
  color: #F03B3B;
}

/*---------- Blocks ----------*/

.block-container1{
  display: flex;
  align-items: center;
}
.number-blocks{
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  width: 260px;
  height: 153px;
}
.
.block-text{
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.block-number{
  font-size: 57px;
  text-align: center;
}