{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <!-- Navbar -->
        <div class="navbar">
            <div class="navbar-item">
                <img class="navbar-brand navbar-brand-desktop" 
                     src={% static 'img/clickcall_logo_white.png' %}
                     alt="Brand"/>

                <img class="navbar-brand navbar-brand-mobile" 
                     src={% static 'img/clickcall_icon_white.png' %}
                     alt="Brand Mobile"/>
            </div>
            
            <div id="activities" class="navbar-item navbar-item-active">
                Item 
            </div>
            
            <div id="activities-child" class="navbar-subitem-list">
                <div class="navbar-item-subitem">
                    Subitem
                </div>
                
                <div class="navbar-item-subitem">
                    Subitem
                </div>
                
                <div class="navbar-item-subitem">
                    Subitem
                </div>
            </div>
            
            <div class="navbar-item">
                Item
            </div>

            <div class="navbar-item">
                Item
            </div>
        </div>

        <div class="column">
            <!-- Simulate callbar -->
            <div class="callbar">

                <a href={% url 'users:logout' %}>Sair</a></div>
            <div class="app-viewport">
                {% block app_content %}

                {% endblock %}  
            </div>
        </div>
    </div>
{% endblock %}
