{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <!-- Navbar -->
        <div class="navbar">
            <div class="navbar-item">
                <img class="navbar-brand navbar-brand-desktop" 
                     src={% static 'img/clickcall_logo_white.png' %}
                     alt="Brand"/>

                <img class="navbar-brand navbar-brand-mobile" 
                     src={% static 'img/clickcall_icon_white.png' %}
                     alt="Brand Mobile"/>
            </div>

            <div id="activities" class="navbar-item navbar-item-active">
                Atividades
            </div>

            <div id="activities-child" class="navbar-subitem-list">
                <div class="navbar-item-subitem
                 {% if request.path == '/activities/metrics' %}
                     navbar-item-active 
                 {% endif %}"/>
                    Métricas do Sistema
                </div>

                <div class="navbar-item-subitem
                 {% if request.path == '/activities/ranking' %}
                     navbar-item-active 
                 {% endif %}"/>
                    Ranking dos Funcionários
                </div>
            </div>

            <div class="navbar-item
                 {% if request.path == '/metas' %}
                     navbar-item-active 
                 {% endif %}"/>
                <a href="#">
                    Metas
                </a>
            </div>

            <div class="navbar-item
                 {% if request.path == '/clients' %}
                     navbar-item-active 
                 {% endif %}"/>
                <a href="#">
                    Clientes 
                </a>
            </div>

            <div class="navbar-item
            {% if request.path == '/users/profile' %}
                navbar-item-active 
            {% endif %}"/>
                <a href="#">
                    Meu Perfil
                </a>
            </div>

            <div class="navbar-item
            {% if request.path == '/tutorials' %}
                navbar-item-active 
            {% endif %}"/>
                <a href="#">
                    Treinamentos
                </a>
            </div>
        </div>

        <div class="column">
            <!-- Simulate callbar -->
            <div class="callbar">
                <div class="call-items">
                    <img src="{% static 'img/call.png' %}" alt="call-icon" class="call-icon">
                    <input type="text" name="pNumber" class="pNumber">
                    <button class="call-btn">Ligar</button>
                    <img src="{% static 'img/call24.png' %}" alt="pause-call" class="pause-call">
                    <a class="logout-btn" href={% url 'users:logout' %}>Sair</a></div>
                </div>
            <div class="app-viewport">
                {% block app_content %}
                {% endblock %}  
            </div>
        </div>
    </div>
{% endblock %}
