{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Click Call - Call History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/call-history.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fontello.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include "includes/history-table.html" %}
    {% include "includes/history-activities.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/change-indicator.js' %}"></script>
    <script src="{% static 'js/show-detail.js' %}"></script>
    <script> 
        $(document).ready(function(){
          $(".table-row").click(function(){
            $(".container-detail").slideToggle("slow");
            $(".container-detail").css("display", "flex");
          });
        });
    </script>
{% endblock %}