{% load staticfiles %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Call History Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    {% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/call-history-detail.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
    {% endblock %}

    {% block content %}
    <div class="container-detail" id="container-detail-a">
        <div class="information">
            <span class="company-name" get-data="data-company"></span>
            <span class="basic-information">Telefone: <span get-data="data-cellphone"></span></span>
            <span class="basic-information">Contato: <span get-data="data-name"></span></span>
            <span class="basic-information">Email: <span get-data="data-email"></span></span>
            <div class="calendar">
                <img src="{% static 'img/calendar.png' %}">
                <span get-data="data-date"></span>
            </div>
            <div class="money">
                <img src="{% static 'img/coin.png' %}">
                <span><span get-data="data-value"></span></span>
            </div>
        </div>
        <div class="information-buttons">
            <img src="{% static 'img/information-email.png' %}">
            <img src="{% static 'img/trash.png' %}">
            <img src="{% static 'img/waiting-call.png' %}">
            <img id="button_id" src="{% static 'img/call.png' %}">
             
        </div>
        <div class="notes">
            <span>Anotações:</span>
            <textarea get-data="data-notes"></textarea>
        </div>
        <div class="tags">
            <span>Tags:</span>
            <div class="tag-row">
                <div get-data="data-tag"class="tag-box"></div>
                <div get-data="data-tag"class="tag-box"></div>
            </div>
        </div>
    </div>
    <!-- <script src="main.js"></script> -->
    <script src="{% static 'js/show-detail.js' %}"></script>
    {% endblock %}
