{% extends 'base.html' %}
{% load static %}

{% block links %}
<!-- <link rel="stylesheet" type="text/css" href = "{% static 'css/call-scheduling.css' %}"> -->
<link rel="stylesheet" type="text/css" href="../../static/datetimepicker-2.5.20/jquery.datetimepicker.css"/ >
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/call-popup.css' %}">
{% endblock %}

{% block content %}
    <div class = "popup">
        <div class="new-call">
            <div class="call-contact">
                <img class="profile" src="../../static/img/call-perfil.png">
                <div class="title">
                    <span class="contact">Nome do contato</span>
                    <span class="company">Nome da empresa</span>
                </div>
                <div class="call-number">
                    <span class="status">Ligando...</span>
                    <span class="number">XXXXXX</span>
                </div>
                <div class="buttons">
                    <img src="../../static/img/call-2.png" class="call">
                    <img src="../../static/img/aguardar.png" class="wait">
                    <img src="../../static/img/desligar.png" class="off">
                </div>

            </div>
            <span class="divisor"></span>
            <div class="call-information">
                <div class="general-information">
                    <div class="box-informations">
                        <a class="date">
                            <img class="calendar" src="../../static/img/calendar.png">
                            <span class="description">21/03/2019</span>
                        </a>
                        <div class="price">
                            <img class="coin" src="../../static/img/coin.png">
                            <span class="description">Adicionar preço</span>
                        </div>
                        <div class="tags">
                            <img class="tag" src="../../static/img/tag-black-shape.png">
                            <div class="group-tags">
                                <div class="row-tag">
                                    <div class="tag-box"></div>
                                </div>
                                <div class="row-tag">
                                        <div class="tag-box"></div>
                                </div>
                                <div class="row-tag">
                                        <div class="tag-box"></div>
                                </div>
                                <div class="row-tag">
                                        <div class="tag-box"></div>
                                </div>
                                <div class="row-tag">
                                        <div class="tag-box"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="notes">
                        <span class="description">Anotações:</span>
                        <textarea cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <!-- <h1 class="new-call-title">POPUP</h1>
            <a>llllll</a> -->
            
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        let params = new URLSearchParams(document.location.search.substring(1))
        let pk = params.get("pk")
        $(`a`).attr("href", `/activities/call_scheduling/?pk=${pk}`);
    </script>
{% endblock %}

