{% load staticfiles %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Call History Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    {% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/call-history-detail.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
    {% endblock %}

    {% block content %}
    <div class="container-detail" id="container-detail-a">
        <div class="information">
            <span class="company-name">Nome da Empresa</span>
            <span class="basic-information">Telefone:(81) X XXXX-XXXX</span>
            <span class="basic-information">Contato: Luiz Felipe</span>
            <span class="basic-information">Email: luis.felipe@empresa.com</span>
            <div class="calendar">
                <img src="../../static/img/calendar.png">
                <span>21/10/18</span>
            </div>
            <div class="money">
                <img src="../../static/img/coin.png">
                <span>13.800,00</span>
            </div>
        </div>
        <div class="information-buttons">
            <img src="../../static/img/information-email.png">
            <img src="../../static/img/trash.png">
            <img src="../../static/img/waiting-call.png">
            <img src="../../static/img/call.png">
        </div>
        <div class="notes">
            <span>Anotações:</span>
            <textarea></textarea>
        </div>
        <div class="tags">
            <span>Tags:</span>
            <div class="tag-row">
                <div class="tag-box">exemplo</div>
                <div class="tag-box">exemplo</div>
            </div>
        </div>
    </div>
    <!-- <script src="main.js"></script> -->
    <script src="{% static 'js/show-detail.js' %}"></script>
    {% endblock %}
