{% extends "app.html" %}
{% load staticfiles %}

{% block head %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Click Call - Call History</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/call-history.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fontello.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
{% endblock %}

{% block app_content %}
    <div class="extern">
      {% include "includes/history-table.html" %}
      {% include "includes/history-activities.html" %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/change-indicator.js' %}"></script>
    <script src="{% static 'js/show-detail.js' %}"></script>
    <script> 
        $(document).ready(function () {
          let pk;
          let flag = -1;
          let currentPk;
          $(".table-row").click(function (e) {
            if (pk === e.currentTarget.getAttribute(`data-pk`) || !pk || flag === -1) {
              if (!$(e.target).hasClass('icon-call-2') && !$(e.target).hasClass('icon-pay-2') && !$(e.target).hasClass('icon-email-2')) {
                $(".container-detail").slideToggle("slow");
                $(".container-detail").css("display", "flex");
                flag *= -1;
              }
            }
            pk = e.currentTarget.getAttribute(`data-pk`);
            const inputs = ["company", "name", "cellphone", "email", "value", "pk", "date", "tag", "notes"];
            inputs.forEach((input) => {
              $(`span[get-data=data-${input}]`).html(e.currentTarget.getAttribute(`data-${input}`));
            });
            $(`a[get-data=data-pk]`).attr("href", `/activities/call_scheduling/?pk=${e.currentTarget.getAttribute('data-pk')}`);
            $('#button_id').click(function (e){
              window.location.href= `/activities/call_popup/?pk=${pk}`
            })
          });
          
        });
    </script>
{% endblock %}