{% extends "base.html" %}
{% load static from staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/history-collaborator.css' %}" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock links %}

{% block title %}
    Histórico de Atividades
{% endblock title %}

{% block content %}
    {% include "includes/history-collaborator.html" %}
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/history-activities.js' %}"></script>
{% endblock scripts %}