{% load staticfiles%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Collaborator List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/collaborator-list.css'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fontello.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="title-and-button">
            <div class="title">Lista de Colaboradores</div>
                <a><button type="button" class="add-goal"><i class="icon-plus-button"></i>Atribuir metas</button></a>
        </div>
        <table class="collaborator-table">
            <tr>
                <th>Nome do colaborador</th>
                <th>Número</th>
                <th>Último acesso</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>Nome do colaborador</td>
                <td>(81) X XXXX-XXXX</td>
                <td>21/09/2018 - 20:30h</td>
                <td>contato@exemplo.com</td>
            </tr>
            <tr>
                <td>Nome do colaborador</td>
                <td>(81) X XXXX-XXXX</td>
                <td>21/09/2018 - 20:30h</td>
                <td>contato@exemplo.com</td>
            </tr>
            <tr>
                <td>Nome do colaborador</td>
                <td>(81) X XXXX-XXXX</td>
                <td>21/09/2018 - 20:30h</td>
                <td>contato@exemplo.com</td>
            </tr>
            <tr>
                <td>Nome do colaborador</td>
                <td>(81) X XXXX-XXXX</td>
                <td>21/09/2018 - 20:30h</td>
                <td>contato@exemplo.com</td>
            </tr>
            <tr>
                <td>Nome do colaborador</td>
                <td>(81) X XXXX-XXXX</td>
                <td>21/09/2018 - 20:30h</td>
                <td>contato@exemplo.com</td>
            </tr>
            <tr>
                <td>Nome do colaborador</td>
                <td>(81) X XXXX-XXXX</td>
                <td>21/09/2018 - 20:30h</td>
                <td>contato@exemplo.com</td>
            </tr>
            <tr>
                <td>Nome do colaborador</td>
                <td>(81) X XXXX-XXXX</td>
                <td>21/09/2018 - 20:30h</td>
                <td>contato@exemplo.com</td>
            </tr>

        </table>
    </div>
    
</body>
</html>