{% extends "base.html" %}
{% load static %}

{% block title %}
Redefinição de Senha 
{% endblock title %}
{% block links %}
<link rel="stylesheet" href={% static 'css/password-reset-done.css' %} type="text/css" media="all">    
{% endblock links %}

{% block content %}
<div class="full-screen">
    <div class="container">
        <img class="logo" src="{% static 'img/logo1.png' %}">
        <span class="verification">Verifique seu email!</span>
        <span class="instructions">Enviamos instruções para <span>exemplo@clickcall.org.br</span></span>
        <span class="resend">Caso não tenha recebido, verifique sua lixeira ou solicite reenvio do email.</span>
        <button class="resend-button" type="submit">Reenviar email</button>
        <a href={% url 'users:password-reset' %}>
            <button class="back-button" type="button">
                <img src={% static 'img/left-arrow.png' %}>
            </button>
        </a>
    </div>
</div>    
{% endblock content %}
