{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block links %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/password-reset.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
{% endblock links %}

{% block title %}
Redefinir senha
{% endblock title %}

{% block content %}
<div class="full-screen">
  <form method="POST" class="container">
    {% csrf_token %}
    <img class="logo" src={% static 'img/logo1.png'%}>
    <span>Enviaremos um email com as informações para redefinição de senha</span>
    <div class="input-back">
      <a href={% url 'users:login' %}>
        <button type="button"><img src={% static 'img/left-arrow.png'%}>
        </button>
      </a>
      {% render_field form.email placeholder="email" %}
    </div>
    <button type="submit">Redefinir senha </button>
  </form>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
